.formulario{
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    gap: 15px;
    padding: 20px;
    background-color: #fcfcfc;
    border: 1px solid #e5e7eb;
    box-sizing: border-box;
    border-radius: 16px;
    overflow-y: auto; 
    max-height: 100%;
}

.formulario h2{
    margin: 0;
}

.campoForm{
    display: flex;
    flex-direction: column;
    gap: 5px
}

.formulario label{
    font-weight: bold; 
    margin: 0;
}

.formulario input, 
.formulario select{
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #767676;
    width: 100%;
    box-sizing: border-box;
}   

.formulario button{
    background-color: #007bff;
    color: #FFFFFF;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 3px;
}

.formulario button:hover {
    background-color: #0056b3;
}

.contenedor-tipo {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.radio-input {
    display: none;
}

.radio-label {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background: #f3f4f6;
    font-weight: bold;
    transition: 0.3s;
}   

.radio-input:checked + .label-gasto {
    background-color: #dc3545;
    color: white;
}

.radio-input:checked + .label-ingreso {
    background-color: #28a745;
    color: white;
}

#categoria, .opcion-categoria {
    text-transform: capitalize;
}

